*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    user-select: none;
    font-family: Corbel;
    position: relative;
    /*border: thin solid black;*/
}
body{
    /*background: rgba(190, 239, 255, 0.3);*/
    background: none;
}
.menu{
    position: relative;
    width: 100%;
    height: 56px;
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 6px grey;
    overflow: hidden;
    z-index: 2;
    
    li{
        position: relative;
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
        margin: 5px;
    }
    li:before{
        position: absolute;
        content: " ";
        width: 0px;
        height: 2px;
        background: #87CEFA;
        left: 0;
        bottom: 10px;
        z-index: 1;
        transition: 300ms;
    }
    li:hover:before{
        width: 100px;
    }
}
.imgLogo{
    position: absolute;
    width: auto;
    height: 40px;
    top: 7px;
    margin-left: 10dvw;
    z-index: 2;
}
.menu li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #222;
    z-index: 2;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #f5f5f5;
    z-index: 1;

    .divFundo{
        position: absolute;
        height: 1000px;
        width: 1000px;
        background: #CAE1FF;/*rgba(0, 191, 255,0.2);*/
        transform: rotate(45deg);
        right: -450px;
        top: -200px;
        border-radius: 15px;
    }
    .blocoBanner{
        position: relative;
        width: 50%;
        min-width: 300px;
        height: 100%;
        .imgBanner{            
            width: 500px;
            transition: 1s;
            animation: imgBannerAnimate 600ms alternate infinite ease-in-out;
        }
    }
    .blocoBanner:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blocoBanner:nth-child(3){
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .textBanner1{
        position: relative;
        font-size: 35px;
        margin: 10%;
        margin-bottom: 0;
        width: 80%;
        font-weight: bold;
        color: #222;
        text-shadow: 3px 3px 9px gray;
        .destaqueTexto{
            color: #1E90FF;
        }
    }
    .textBanner2{
        position: relative;
        font-size: 22px;
        margin: 10%;
        margin-top: 30px;
        width: 80%;
        color: rgb(85, 85, 85);
    }
    .btnStore{
        width: 200px;
        height: 60px;
        cursor: pointer;
        margin-right: 10px;
    }
    .btnsApp{
        text-align: left;
        margin: 10%;
        width: 80%;
    }
}
.esconder{
    opacity: 0;
}
.marcas{
    img{
        position: relative;
        width: 560px;
        left: 10%;
        /*filter: grayscale(100%);*/
    }
}
.titleSection{
    width: 100%;
    left: 10%;
    font-size: 30px;
    text-shadow: 2px 2px 4px grey;
    text-align: left;
    font-weight: bold;
    margin-top: 150px;
    &::after{
        content: " ";
        width: 80%;
        position: absolute;
        height: 1px;
        background: #000;
        top: 35px;
        left: 0;
    }
}
.containerMarcas{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
    .marca{
        --sizeMarca: 110px;
        width: var(--sizeMarca);
        height: var(--sizeMarca);
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }    
}
@media (max-width: 800px) {
    .banner{
        .blocoBanner{
            .imgBanner{
                animation: none;
            }
        }
    }
    .banner{
        flex-direction: column-reverse;
        .divFundo{
            right: -750px;
        }
    }
    .imgBanner{
        max-width: 300px;
    }
    .menuComum{
        display: none;
    }
}
@keyframes imgBannerAnimate {
    from{
        margin-top: -5px;
    }
    to{
        margin-top: 5px;
    }
}
@keyframes animationImgBanner{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 400px) {
    .imgBanner{
        margin-top: 35px;
        margin-left: -10px;
    }
    .banner{
        .divFundo{
            right: -950px;
        }
    }
}